.main-section>section{
    margin-bottom: 6.944vw;
}
.collection-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.collection-title{
    color: var(--color1);
    font-weight: 600;
    font-size: 2.138vw;
    text-align: center;
    margin-bottom: 2.083vw;
}
.collection-card-container{
    display: grid;
    grid-template-columns: 22.84vw 22.84vw 22.84vw;
    grid-template-rows: 33.06vw 33.06vw 33.06vw;
    gap: 2.083vw;
    margin: 0 auto;
}
.collection-card{
    border-radius: 5px;
    box-shadow: 0px 0px 2.77vw 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
}
.card-title{
    color: rgb(24, 25, 31);
font-size: 1.944vw;
font-weight: 500;
}
.card-price{
    color: rgba(0, 0, 0, 0.87);
font-size: 1.66vw;
font-weight: 400;
}
.card-line1{
    color: rgb(120, 120, 133);
font-size: 0.972vw;
font-weight: 700;

}
.collection-card .card-rating{
    width: 6.472vw;
    height: 1.1vw;
}
.span-rating{
    color: rgb(94, 99, 102);
font-family: Roboto;
font-size: 0.9722vw;
font-weight: 700;
}

.collection-card .image{
    width: 100%;
    height: 17.77vw;
    /* padding-top: 1.18vw; */
}
.card-title, .card-price, .card-rating, .card-line1{
    padding-left: 0.972vw;
}
.see-more{
    width: 72.7vw;
    padding-top: 4.4vw;
    margin-left: 5.29vw;
    text-align: right;
    padding-right: 0.1vw;
    font-size: 1.11vw;
    font-weight: 600;
    color: var(--color-btn);
}

@media screen and (max-width: 586px) {
    .collection-title{
        font-size: 4.44vw;
        margin-bottom: 5.5vw;
    }  
    .collection-card-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        margin-bottom: 6.5vw;
    } 
    .collection-card .image{
        width: 100%;
        height: 71.1vw;
        margin-bottom: 4.44vw;
    
     }
     .card-title{
        font-size: 7.8vw;
        font-weight: 700;
        margin-bottom: 1.7vw;
     }
     .card-price{
    font-size: 6.67vw;
    font-weight: 700;
    margin-bottom: 2vw;
    }
    .collection-card .card-rating{
        width: 20vw;
        height: 4vw;
    }
    .span-rating{
    font-size: 4vw;
    font-weight: 500;
    }
    .card-line1{
    font-size: 3.9vw;
    font-weight: 700;
    margin-top: 2.8vw;
    margin-bottom: 8.4vw;
    }
    .see-more{
        font-size: 4.44vw;
        font-weight: 700;
        padding-top: 1.5vw;
        padding-bottom: 5.6vw;
    }
    
}
