.featured-container{
    display: flex;
    gap: 6.66vw;
    width:77.08vw;
    margin: 0 auto;
}

.featured-image{
    width: 28.05vw;
    height: 18.75vw;
}
.featured-gear-image{
    width: 100%;
    /* height: ; */
}

.featured-title{
    color: rgb(10, 8, 38);
    font-size: 2.64vw;
    font-weight: 700;
    margin-top: 1.6vw;
}
.featured-title-description{
    color: rgb(108, 108, 108);
    font-size: 1.11vw;
    font-weight: 700;
    padding-top: 1.11vw;
    padding-bottom: 1.11vw;
}
#featured-btn{
    border-radius: 0;
}

/* RESPONSIVE SECTION */
@media screen and (max-width:586px) {
    .featured-container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .featured-title{
        font-size: 6.67vw;
        font-weight: 700;
        margin-bottom: 4.4vw;
        text-align: center;
    }
    .featured-title-description{
        font-size: 4.44vw;
        font-weight: 700;
        margin-bottom: 13.8vw;
        text-align: center;
    }
    #featured-btn{
        margin-bottom: 6.6vw;
        margin-left: 22vw;
    }
    .featured-image{
        width: 100%;
        height: auto;
        padding-bottom: 4.44vw;
    }
    .featured-gear-image{
        width: 100%;
        /* height: 100%; */
    }
}
