.footer-section{
    /* width: 100vw; */
    background-color: rgb(0,0,0);
}
.footer-title{
    color: rgb(255, 255, 255);
    font-size: 1.66vw;
    font-weight: 700;
}
.footer-title-description{
    color: rgb(217, 219, 225);
    font-family: Manrope;
    font-size: 0.9722vw;
    font-weight: 700;
}
.footer-end-line{
    color: rgb(217, 219, 225);
    font-family: Manrope;
    font-size: 0.972vw;
    font-weight: 700;
}
.icon, .image-icon{
    width: 2.22vw;
    height: 2.22vw;
    border-radius: 50%;
}

.footer-content-container{
    display: flex;
    flex-direction: column;
    gap: 0.21vw;
    width: 19vw;
    margin:0 auto;
    padding: 3.48vw 1vw;
    text-align: center;
}

.footer-icons-container{
    display: flex;
    justify-content: center;
    gap:0.16vw;
}

/* RESPONSIVE SECTION */
@media screen and (max-width:586px) {
    .footer-content-container{
        width: 65vw;
        padding: 13.8vw 1vw;
    }
    .footer-title{
        font-size: 4.44vw;
        font-weight: 700;
    }
    .footer-title-description,
    .footer-end-line{
        font-size: 3.3vw;
        padding-top: 1.2vw;
        padding-bottom: 2.4vw;
    }
    .icon, .image-icon{
        width: 6.67vw;
        height: 6.67vw;
    }
}